*{
    box-sizing: border-box;
    margin:0;
    font-family: "Roboto";
}



/*--------------Home View---------------- */
.home{
    height: 100vh;
    background:#614A6D;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  
}

.home .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#carouselExampleIndicators{
    height: 1vh;
    margin-top: 1vh;
}

/*--------------End of the Home View---------------- */

/*--------------Signup View---------------- */

.signup{
    
    background-image:url('https://images.unsplash.com/photo-1584983162722-6b827b369ac6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.signup-form{
    margin-top: 20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    background-color: rgba(60,46,62,0.7) ;
}

.signup-form label{
    
    margin: 2vh;
    color: aliceblue;
}

.signup-form input{
    width: 30vw;
    align-self: center;
}

.signup-form button{
    margin: 1vh;
    align-self: center;
}

.signup-form small{
    
    align-self: center;
    color: aliceblue;
}


/*--------------End of Signup View---------------- */

/*--------------Login View---------------- */

.base-login{

    
    background-image:url('https://images.unsplash.com/photo-1512113569142-8a60fccc7caa?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.login-form{
    margin-top: 25vh;
    margin-left: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    flex-direction: column;
    background-color: rgba(60,46,62,0.7) ;
}

.login-form label{
    
    margin: 2vh;
    color: aliceblue;
}

.login-form input{
    width: 30vw;
    align-self: center;
}

.login-form button{
    margin: 1vh;
    align-self: center;
}

.login-form small{
    
    align-self: center;
    color: aliceblue;
}


/*--------------End of Login View---------------- */

/*--------------Admin View---------------- */

.admin{
    
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  

}

.admin .container{
   
    flex-direction: column;
}

.admin .container .card{
    margin-top: 10vh;
    
}



/*--------------End of Admin View---------------- */

/*--------------Shows View---------------- */

.show .card{
    width: 25vw;
    margin-top: 5vh;
}



.show div .form-row{
    display: flex;
    justify-content: center;
}
.show div .form-group{
    width: 25vw;
    margin-left: 16.6vw;
    
}

.show button{
    margin-left: 16.6vw;
    
}


.show img{
    width: 25vw;
   

}




/*--------------End of Shows View---------------- */

/*--------------Theaters View---------------- */
.theaters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theaters .card{
    margin: 3vh;
    align-items: center;
    justify-content: center;
}

/*--------------End of Theaters View---------------- */



/*--------------TheaterMod View---------------- */
.theaterMod{
    color: #EEF0F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*--------------End of TheaterMod View---------------- */

/*--------------End of Show Creation View---------------- */

.show-creation .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-creation .card{
    width: 25vh;
}

/*--------------End of Show Creation View---------------- */



/*--------------Theater Creation View---------------- */

.theater-creation{
    color: #EEF0F5;
}




/*--------------End of Theater Creation View---------------- */


/*--------------Shows Active View---------------- */

.shows-active .container {
    color: #EEF0F5;
 
}

.shows-active img{
    width: 25vw;
    height: 55vh;
}
/*--------------End of Shows Active View---------------- */

