*{
    box-sizing: border-box;
    margin:0;
    font-family: "Roboto";
}


/*--------------Index View---------------- */

.index{

    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    

}

/* Position text in the middle of the page/image */
.index .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }




/*--------------End of Index View---------------- */

/*--------------Home View---------------- */


.home-shows{

    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

 .home-shows .container {
    color: white;
    text-shadow: 2px 2px 2px black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/*
.home-shows .container .card-body
{
    display: flex;
    flex-direction: column;
    background-color: #262423;
    align-items: center;
    justify-content: center;
    
} */

.home-shows .card{
    background-color: #262423;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}

.home-shows .card-round {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
    background-color: #262423;
}

.home-shows .card-round hr {
    border-color: #adadad;
}

.home-shows img{
    /* width: 25vw; */
    border-radius: 30px;
}




/*--------------End of the Home View---------------- */

/*--------------Home View---------------- */
.homeViewShow{
    
    background-image: linear-gradient(to right top, #845ec2, #806ecc, #7e7cd4, #7d8adb, #7f97e1, #8e99e3, #9c9ae5, #a99ce6, #c590dc, #df83ca, #f377b0, #ff6f91);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  
}

.homeViewShow .container {
    color: #D1C4C2;
    display: flex;

    
}


.homeViewShow h2{
    text-align: center;
}

.homeViewShow hr{
    border-top: 2px solid wheat;
}



.homeViewShow .card-header{
    color: black;
}

.homeViewShow .container .card-body
{
    display: flex;
    flex-direction: column;
    background-color: #262423;
    align-items: center;
    justify-content: center;
    
}


/*--------------End of the Home View---------------- */

/*--------------Signup View---------------- */

.signup{
    
    background-image:url('https://images.unsplash.com/photo-1584983162722-6b827b369ac6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.signup-form{
    margin-top: 20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    background-color: rgba(60,46,62,0.7) ;
}

.signup-form label{
    
    margin: 2vh;
    color: aliceblue;
}

.signup-form input{
    width: 30vw;
    align-self: center;
}

.signup-form button{
    margin: 1vh;
    align-self: center;
}

.signup-form small{
    
    align-self: center;
    color: aliceblue;
}


/*--------------End of Signup View---------------- */

/*--------------Login View---------------- */

.base-login{

    
    background-image:url('https://images.unsplash.com/photo-1512113569142-8a60fccc7caa?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.login-form{
    margin-top: 25vh;
    margin-left: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    flex-direction: column;
    background-color: rgba(60,46,62,0.7) ;
}

.login-form label{
    
    margin: 2vh;
    color: aliceblue;
}

.login-form input{
    width: 30vw;
    align-self: center;
}

.login-form button{
    margin: 1vh;
    align-self: center;
}

.login-form small{
    
    align-self: center;
    color: aliceblue;
}


/*--------------End of Login View---------------- */

/*--------------Admin View---------------- */



.admin-dashboard{

    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1554224154-26032ffc0d07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1012&q=80");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    

}

/* Position text in the middle of the page/image */
.admin-dashboard .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  





/*--------------End of Admin View---------------- */

/*--------------Start of activeMovies View---------------- */


.activeMovies{
    
    height: 100%;
    background-image: linear-gradient(to right top, #051937, #102b65, #323a93, #6146c0, #984be9);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  

}

.activeMovies .container{
   
    flex-direction: column;
}


/*--------------End of activeMovies View---------------- */


/*--------------Shows View---------------- */

.show .card{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}

.card-round {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
    background-color: #262423;
}

.card-round hr {
    border-color: #adadad;
}


/*
.show div .form-row{
    display: flex;
    justify-content: center;
}
.show div .form-group{
    width: 25vw;
    margin-left: 16.6vw;
    
}

.show button{
    margin-left: 16.6vw;
    
} */


.show img{
    /* width: 25vw; */
    border-radius: 30px;
}

.bord {
    border-radius: 30px;
}

.shad {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}




/*--------------End of Shows View---------------- */

/*--------------Theaters View---------------- */
.theaters{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1514899706957-d22ee867a77b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.theaters .card{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    
}

/*--------------End of Theaters View---------------- */



/*--------------TheaterMod View---------------- */
.theaterMod{
    color: #EEF0F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*--------------End of TheaterMod View---------------- */

/*--------------End of Show Creation View---------------- */

.show-creation .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-creation .card{
    width: 25vh;
}

/*--------------End of Show Creation View---------------- */



/*--------------Theater Creation View---------------- */

.theater-creation{
    color: #EEF0F5;
}




/*--------------End of Theater Creation View---------------- */


/*--------------Shows Active View---------------- */

.shows-active{

    height: 100vh; 
    background-image: linear-gradient(to right top, #845ec2, #806ecc, #7e7cd4, #7d8adb, #7f97e1, #8e99e3, #9c9ae5, #a99ce6, #c590dc, #df83ca, #f377b0, #ff6f91);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

}

.shows-active .container {
    height: 100%;
    color: #D1C4C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* .shows-active .container .card {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}

.shows-active .container .card-body
{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #262423;
    align-items: center;
    justify-content: center;
    
} */



/*--------------End of Shows Active View---------------- */

/*--------------Start of chooseSeats View---------------- */

.seatPicker{

    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1573901715464-3abada6ceed0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;

}

.seatPicker h1{
    justify-content: center;
    align-self: start;
    color: white;
    text-shadow: 3px 3px 3px black;
}

/*--------------End of chooseSeats View---------------- */

/*--------------Start of Analytics View---------------- */

.analytics{

    height: 100%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #FAF5FA;

}



/*--------------End of Analytics View------------------ */


/*--------------Start of Show date creation View--------*/

.show-date-selection{

    height: 100vh;

    background-image: linear-gradient(to right top, #e85dda, #cd5bc1, #b258a9, #985491, #7f4f7a);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

/*--------------End of Show date creation View--------*/


